.otherprofile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10vw ;
    gap: 5vh;
 
}


.othercard
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:20vw;
}